* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: "Roboto", sans-serif;
    color: rgb(230, 238, 238);
}

.landing {
    min-height: 100vh;
    background: url('kortlekstjej.jpg');
    background-size: cover;
    background-position: center;
    padding: 0rem 5rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    padding-left: 2rem;
    font-size: 1.2rem;
}


.big-text {
    color: rgb(202, 156, 17);
    position: absolute;
    top: 42.5%;
    left: 50%;
    transform: translate(-50%, -20%);
    font-size: 3.5rem;
    font-family: 'Roboto';
    font-weight: 2rem;
}


.intro {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    background: rgba(231, 43, 43, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

.intro-text {
    color:rgb(202, 156, 17);
    font-family: "Heebo", sans-serif;
    font-size: 2.5rem;
}

/* All hide class elements become hidden*/
.hide {
    background: black;
    overflow: hidden; 
}

/* spans are inline elements, need to use inline-block*/
.hide span {  
    transform: translateY(100%);
    display: inline-block;
}